.mainpage_container{
  width:800px;
  margin-top: 105px;
  height:500px;
  border:2px solid pink;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://search.pstatic.net/common/?src=http%3A%2F%2Fcafefiles.naver.net%2FMjAxODA5MDFfMjAz%2FMDAxNTM1ODEyNjQyOTEz.Y1R5duDsLhWnQSBL8sJPrkTZM-WxmU_fzUQDkI2QF9Ig.QLvFj42ru-uVgcIxDvtLqUZDxUj6V4PK2S26Wsk_wnkg.GIF.navy000hall%2FexternalFile.gif&type=sc960_832_gif);
  background-repeat: no-repeat;
  background-size:cover;
}

.start_button{
  width:190px;
  height:90px;
  background-color: rgb(253, 155, 172);
  display: flex;
  align-items: center;
  justify-content: center;
  border:2px solid white;
  border-radius: 30px;
  color:white;
  font-size:35px;
  font-style:italic;
  text-decoration: none;
}

.start_button:hover {
  text-decoration: underline;
  color: rgb(255, 90, 118);
  background-color: pink;
}
